{% extends 'base.html' %} 

{% load i18n %}
{% load static %}

{% block body %} 
{% for device in object_list %}


<div class="card shadow mb-3 device" data-id="{{device.id}}">
    <div class="card-header">

        
        {{device.get_channel_type_display}}
        <div style="
                    background: url({% static device.channel.get_icon_path %});
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-clip: content-box;
                    background-size: cover;
                    vertical-align: middle;
                " class="mr-2 ml-2 d-inline-block"></div>

        
    
    </div>
     
    <div class="card-body">


        <div class="row mb-3">
            <div class="col-3">
                {% trans "Device Type" %} : {{device.get_channel_type_display}}
            </div>
            <div class="col-5">
                {% trans "Last Remind" %} : {{device.last_remind|default:"فعلان هیچی"}}
            </div>
            <div class="col-4">
                {% trans "Add Date" %} : {{device.added_at|default:""}}
            </div>
        </div>
        <form action="{% url 'reminders:remove' pk=device.id %}" method="post" class="remove-form">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger text-white" value="{% trans "Delete" %}">
        </form>


    </div>
</div>
{% empty %}
<div class="card shadow mb-3"><div class="card-body text-center">
{% trans "There is no added device" %}
</div></div>

{% endfor %} 

<div class="card shadow mb-3">
    <div class="card-header">
    کانال ها
    </div>
    
    <div class="card-body d-flex flex-column justify-content-around align-items-center">
        {% for channel in channels %}
            <a href="{% url 'reminders:channel' channel_name=channel.name %}" class="btn btn-success d-inline-block mb-1">{{channel.title}}</a>
        {% endfor %}

    </div>
</div>

{% endblock body %} 

{% block js %}
<script>
    $('.card.device').each(function(index){
        var deviceId = $(this).data('id');
        if (deviceId == window.localStorage.getItem('deviceId')){
            $(this).children('.card-header').append('({% trans "This device" %})');
        }
    });


</script>
 {% endblock js %}