{% extends 'base_auth.html' %}
{% load static %}
{% load i18n %}

{% block body %}

    <div class="row" style="height:400px">
    <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image:url({% static '/img/logged_out.jpeg' %});"></div>
      <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center" >
            <h1 class="h2 mb-4 text-center" height="200px">{% trans "You are logged out!" %}</h1>
       </div>
    </div>
{% endblock body %}

{% block js %}
<script>
    setTimeout(function() { window.location.replace("/"); }, 2000);
</script>
{% endblock js %}