{% extends 'base_auth.html' %}
{% load static %}
{% load i18n %}

{% load widget_tweaks %}


{% block body %}
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image:url({% static '/img/login.jpeg' %});"></div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">{% trans "Welcome" %}!</h1>
          </div>
          <form class="user" action="{% url 'login' %}" method="post">
          {% csrf_token %}
            <div class="form-group">
                {% trans 'Enter Email Address' as enter_email%}
                {% render_field form.username class+="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder=enter_email %}
            </div>
            <div class="form-group">
                {% trans "Password" as password %}
              {% render_field form.password class+="form-control form-control-user" id="exampleInputPassword" placeholder=password %}
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox small">
                {% render_field form.remember_me class+="custom-control-input" id="customCheck" %}
                <label class="custom-control-label" for="customCheck">{% trans "Remember me" %}</label>
              </div>
            </div>
            <input type="submit" class="btn btn-primary btn-user btn-block" value="{% trans "Login" %}">

            
            <!-- <hr> -->
            <!-- <a href="" class="btn btn-google btn-user btn-block">
              <i class="fab fa-google fa-fw"></i> Login with Google
            </a>
            <a href="" class="btn btn-facebook btn-user btn-block">
              <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
            </a> -->
          </form>
          <hr>
          <!-- <div class="text-center">
            <a class="small" href="forgot-password.html">Forgot Password?</a>
          </div> -->
          <div class="text-center">
            <a class="small" href="{% url 'register' %}">{% trans "Create an account" %}!</a>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}


