{% extends 'base_auth.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block body %}
  <!-- Nested Row within Card Body -->
  <div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image" style="background-image:url({% static '/img/register.jpeg' %});"></div>
    <div class="col-lg-7">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">{% trans "Create an account" %}!</h1>
        </div>
        <form class="user" action="{% url 'register' %}" method="post">
        {% csrf_token %}
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            {% trans "First Name" as fn %}
             {% render_field form.first_name class+="form-control form-control-user" id="exampleFirstName" placeholder=fn %}
              {{form.first_name.errors}}
             <!-- <div class="invalid-feedback d-block pl-4">
                Please choose a username.
              </div> -->
            </div>
            <div class="col-sm-6">
            {% trans "Last Name" as ln %}
            {% render_field form.last_name class+="form-control form-control-user" id="exampleLastName" placeholder=ln %}
            {{form.last_name.errors}}
          </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            {% trans "Email Address" as email_addr %}
              {% render_field form.email class+="form-control form-control-user" id="exampleInputEmail" placeholder=email_addr %}
              {{form.email.errors}}
            </div>
            <div class="col-sm-6">
            {% trans "Username" as username%}
              {% render_field form.username class+="form-control form-control-user" id="exampleUsername" placeholder=username %}
              {{form.username.errors}}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            {% trans "Password" as password %}
            {% render_field form.password1 class+="form-control form-control-user" id="exampleInputPassword" placeholder=password %}
            {{form.password1.errors}}
          </div>
            <div class="col-sm-6">
            {% trans "Repeat Password" as re_password %}
            {% render_field form.password2 class+="form-control form-control-user" id="exampleRepeatPassword" placeholder=re_password %}
            {{form.password2.errors}}
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-user btn-block" value="{% trans "Register" %}">
            
          <!-- <hr>
          <a href="index.html" class="btn btn-google btn-user btn-block">
            <i class="fab fa-google fa-fw"></i> Register with Google
          </a>
          <a href="index.html" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
          </a> -->
        </form>
        <!-- <hr>
        <div class="text-center">
          <a class="small" href="forgot-password.html">Forgot Password?</a>
        </div> -->
        <div class="text-center">
          <a class="small" href="{% url 'login' %}">{% trans "Do you have an account?" %}{% trans "Login" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}


