{% extends 'base.html' %}
{% load i18n %}
{% block body %}
<div class="card shadow">
    <div class="card-header">{% trans "Select Words List" %}</div>
    <div class="card-body">
        
        <div class="d-flex flex-column justify-content-around align-items-center">
            {% for wordlist in wordlists %}
                <a href="{% url 'study' wordlist_id=wordlist.id%}" class="btn btn-success mb-1">{{wordlist.title}}</a>
            {%empty%}
                <div>{% trans "There is not any wordlist for study" %}</div>
            {% endfor %}
        </div>
        
    

    </div>
</div>


{% endblock body %}