{% extends 'base.html' %}
{% load i18n %}
{% block body %}

    <h1 class="h3 text-gray-800">{% trans "Study" %}</h1>
    <div class="card mb-4 shadow">
      <!-- <div class="card-header">
        شروع
      </div> -->
      <div class="card-body">

        <div id="overview" class="">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <button id="start-learning-button" class="btn btn-primary">{% trans "Start" %}</button>
          </div>

        </div>
        <div id="study" class="" style="display: none;">
          <div  class="d-flex flex-column align-items-center mb-3">
            <div class="h1" id="word">
            </div>
            <div class="row m-0">
              <a href="" class="text-decoration-none ml-1"><i class="fas fa-volume-up"> </i> BR</a>
              <a href="" class="text-decoration-none "><i class="fas fa-volume-up"> </i> AR</a>
            </div>

          </div>
          <div id="quiz" class="d-flex flex-column align-items-center mb-3">
            <button id="show-answer-button" class="btn btn-primary text-white">{% trans "Answer" %}</button>
          </div>
          <div id="answer" class="mb-3" style="display: none;">
            <div class="d-flex flex-column align-items-center">
              
              <div class="col-lg-9 col-xl-7 col-sm text-left text-gray-900  mb-3" id="word_defs">
                

              </div>
              <div class="row justify-content-between" id="answer-buttons">
                <button  class="btn btn-primary text-white m-2" data-answer="2" id="new-button">{% trans "It was new" %}</button>
                <button  class="btn btn-info text-white m-2" data-answer="1">{% trans "It was known" %}</button>
                <button  class="btn btn-danger text-white m-2" data-answer="0">{% trans "It was forgotten" %}</button>
              </div>
            </div>
            <!-- <hr> -->

          </div>

        </div>
      </div>
    </div>
{% csrf_token %}
{% endblock body %}

{% block js %}
  <script>
    function get_on_due_word(){
      $.get({
        url:'{% url 'get_ondue' wordlist_id=wordlist_id %}',
        async:false
      }).done(function(data,textStatus,jqXHR){

        $('#word').empty();
        $('#word').append(data['word']);
        word_defs = $('#word_defs');
        word_defs.empty();
        for(var i = 0;i<data['definitions'].length;i++){
            word_defs.append('<hr>')
          word_defs.append('<h4 class="text-right text-danger">' + data['definitions'][i]['title'] + '</h4>');
          aligns = '';
          if(data['definitions'][i]['direction'] == 'ltr'){
            aligns = 'text-left dir-ltr';
          }else{
            aligns = 'text-right dir-rtl';
          }
          var def = data['definitions'][i]['definition'] || 'Nothing';
          word_defs.append('<div class="' + aligns +' mb-3">' + def + '</div>');
        }
        var new_button = $('#new-button');
        if(data['status'] == 'new')
            new_button.show();
        else
            new_button.hide();
        

      }).fail(function(jqXHR, textStatus, errorThrown){
        if( jqXHR.status == 404){
          $('#study').empty();
          $('#study').append('<p class="text-center">{% trans "There is not any word for learning" %}</p>');
        }else if(jqXHR.status >= 500){
            $('#study').empty();
            $('#study').append('<p class="text-center">{% trans "There is a problem in fetching the words" %}</p>');
        }
      });
      
    }

    function send_answer(answer){
      var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
      $.post({
        url:'{% url 'answer_ondue' wordlist_id=wordlist_id %}',
        data:{'answer':answer},
        headers:{"X-CSRFToken": $crf_token},
        async:false
      });
    }

    function show_answer(){
      $('#answer').show();
      $('#show-answer-button').hide();
    }
    function hide_answer(){
      $('#answer').hide();
      $('#show-answer-button').show();
    }
    $('#start-learning-button').click(function(){
      get_on_due_word();
      $('#overview').hide();
      $('#study').show();
    });
    $('#show-answer-button').click(function(){
      if($('#answer').is(':visible'))
        hide_answer();
      else
        show_answer();
    });
    $('#answer-buttons > button').click(function(){
        answer = $(this).data('answer');
        send_answer(answer);
        hide_answer();
        get_on_due_word();
            
    });

  </script>
  {% endblock js %}
