{% extends 'base.html' %} 
{% load static %}
{% load i18n %}

{% block body %}

<div class="card shadow mb-3">
    <div class="card-header">
        {% trans "Add" %}
    </div>
    <div class="card-body row justify-content-center">
        <form action="{% url 'reminders:add_webpush_device' channel_name='webpush' %}" method="post" id="add_device_form" style="display:none">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="{% trans "Add this device" %}" id="add_button" >
        </form>

    </div>
</div>


{% endblock body %} 
{% block js %}

<script>

    messaging.getToken().then((currentToken) => {
        $("#add_device_form").submit(function(event) {
            if (currentToken) {
                $("#add_device_form").append(`<input type="hidden" name="token" value="${currentToken}" /> `);  

            } else {
                // Show permission request.
                console.log('No Instance ID token available. Request permission to generate one.');
                event.preventDefault();
            }
        });
        $("#add_device_form").show();
    }).catch((err) => {
        console.log('An error occurred while retrieving token. ', err);
    });


</script>
{% endblock js %}