{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %} {% trans "Add words" %}
{% endblock title %}

{% block body %}

  <h1 class="h3 text-gray-800">{% trans "Add words" %} ({{rel_object.title}}) </h1>
    {% for field_name,errors in form.errors.items %}
        {% for error in errors %}
            <div class="alert alert-danger">{{field_name}} : {{error}}</div>
        {% endfor %}
    {% endfor %}
    {% for field_name,errors in filewordform.errors.items %}
        {% for error in errors %}
            <div class="alert alert-danger">{{field_name}} : {{error}}</div>
        {% endfor %}
    {% endfor %}


  <div class="card shadow mb-4">
    <div class="card-header">{% trans "Word" %}</div>
    <div class="card-body">
      <form action="{% url 'add_word' wordlist_id=rel_object.id %}" method="post">
        {% csrf_token %}

        
        {% render_field form.values class="form-control w-auto" cols="40" rows="5" %}
        <small class="form-text">{% trans "Seprate the words by enter" %}</small>
        <input type="submit" value="{% trans "Add" %}" class="btn btn-primary mt-3">
      </form>
    </div>
  </div>

  <div class="card shadow mb-4" >
    <div class="card-header">{% trans "From file" %}</div>
    <div class="card-body">
      <form action="{% url 'add_word_from_file' wordlist_id=rel_object.id%}" method="post" class="d-flex flex-column justify-content-start align-items-start" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="custom-file text-left w-auto" >
            <label class="custom-file-label" for="customFile" >{% trans "Choose file" %}</label>
            {% comment %} <input type="file" class="custom-file-input" id="customFile" accept=".txt"> {% endcomment %}
            {% render_field  filewordform.file class="custom-file-input" accept=".txt" id="customFile"%}
        </div>
        <small class="form-text">{% trans "Choose text file" %}</small>
        <!-- <input type="text" class="form-control w-auto"> -->
        <input type="submit" value="{% trans "Send" %}" class="btn btn-primary mt-3">
      </form>
    </div>
  </div>

{% endblock body %}
