{% extends 'base.html' %}
{% load i18n %}
{% block body %}

  <h1 class="h3 text-gray-800"> {% trans "Words" %}</h1>

<div class="card shadow mb-2">
    <div class="card-body ">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <a href="{% url 'add_word' wordlist_id=rel_object.id %}" class="btn btn-primary">{% trans "Add word" %}</a>
        </div>
    </div>
</div>

{% for word in object_list %}
  <div class="card shadow mb-2">
    <div class="card-body">
    <div class="">
        <span class="text-lg align-middle">{{word.value}}</span>
        <form action="{% url 'remove_word' wordlist_id=rel_object.id word_id=word.id %}" method="post" class="float-left">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </form>

    </div>
    
    </div>
  </div>

{% endfor %}

{% endblock body %}