{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}


{% block body %}
{{form.errors}}
  {% for form in wordlist_forms %}
    <div class="card shadow mb-3">
      <div class="card-header">
        {{form.initial.title}}
      </div>
      <div class="card-body row">
        <form action="{% url 'update_wordlist' wordlist_id=form.instance.pk %}" method="post" class="d-flex flex-column justify-content-between col-9 update-form">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-5 row align-items-baseline">
                <label for="" class="ml-2 col-form-label">{% trans "Title" %} : </label>
                {% comment %} <input type="text" class="form-control-plaintext w-auto" value="لیست شماره 1" readonly> {% endcomment %}
                <span class="update-display">{{form.initial.title}}</span>
                {% render_field form.title class="form-control w-auto update-editable" %}
                </div>
                <div class="form-group row col-4 m-0">
                <label for="" class="ml-2 col-form-label">{% trans "Dictionaries" %} : </label>
                <ul class="update-display">
                    {% for dictionary in form.dictionaries %}
                        {% if dictionary.data.selected %}
                            <li>{{dictionary.data.label}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>

                {% render_field form.dictionaries class="update-editable"%}
                </div>
                <div class="form-group row col-3 ">
                <label for="" class="ml-2 col-form-label">{% trans "Words count" %} : </label>
                <div type="text" class="form-control-plaintext w-auto "> {{form.instance.words.count}}</div>
                </div>



            </div>
            <div>
                
              <input type="submit" class="btn btn-primary text-white ml-2  update-submit-btn" value="{% trans "Apply" %}">
              <a class="btn btn-danger text-white  update-cancel-btn">{% trans "Cancel" %}</a>
    
              <a class="btn btn-primary text-white ml-2 update-show-btn">{% trans "Update" %}</a>
              <a class="btn btn-danger text-white update-delete-btn ml-2">{% trans "Delete" %}</a>
              <a href="{% url 'words_list' wordlist_id=form.instance.id %}" class="btn btn-primary text-white update-hidden">{% trans "Words" %}</a>
            </div>

        </form>
        <form action="{% url 'remove_wordlist' wordlist_id=form.instance.id%}" method="post" class="d-none remove-form">
        {% csrf_token %}
        </form>
        <div class="col-3">
          <small>{% trans "Word examples" %}:</small>
          <textarea name="" rows="3" id="" class="form-control w-auto form-control-plaintext" readonly>{{ form.instance.simple_words|join:"&#10;" }}</textarea>
        </div>
      </div>
    </div>
    {% endfor %}



    <!-- word list create form -->
    <div class="card shadow mb-3">
      <div class="card-header">
        {% trans "Add Words List" %}
      </div>
      <div class="card-body">
        <form action="{% url 'create_wordlist' %}" method="post">
          {% csrf_token %}
          <div class="row m-0">
            <div class="form-group row col-4 m-0">
              <label for="" class="ml-2 col-form-label">{% trans "Title" %} : </label>
              {% render_field form.title class="form-control w-auto" %}
            </div>
            <div class="form-group row col m-0">
              <label for="" class="ml-2 col-form-label">{% trans "Dictionaries" %} : </label>
              {% render_field form.dictionaries class+="hide-checkbox" %}
            </div>

          </div>

          <input type="submit" class="btn btn-primary text-white ml-2" value="{% trans "Create" %}">


        </form>
      </div>
    </div>

{% endblock body %}

{% block js %}

  <script>
    $(document).ready(function(){
        $('.update-editable').hide();
        $('.update-submit-btn, .update-cancel-btn').hide();
    });
    $('form .update-delete-btn').click(function(){
        var form = $(this).parents('form');
        form.next('form.remove-form').submit();
    });
    $('form  .update-show-btn').click(function () {
      var form = $(this).parents('form');
      form.find('.update-display, .update-hidden').hide();
      form.find('.update-editable').show();
      form.find('.update-delete-btn,.update-show-btn').hide();
      form.find('.update-cancel-btn,.update-submit-btn').show();

    });
    $('form  .update-cancel-btn').click(function () {
      var form = $(this).parents('form');
        form.find('.update-display, .update-hidden').show();
      form.find('.update-editable').hide();
      form.find('.update-delete-btn,.update-show-btn').show();
      form.find('.update-cancel-btn,.update-submit-btn').hide();

    })
  </script>
{% endblock js %}
