{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Word Reminder{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"> {% comment %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> {% endcomment %} {% comment %}
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v[X.Y.Z]/dist/font-face.css" rel="stylesheet" type="text/css" /> {% endcomment %}
    <!-- Custom styles for this template-->
    <link href="{% static '/css/sb-admin-2.min.css' %}" rel="stylesheet"> {% block styles %}

    <style>
        .nav-link {
            text-align: center!important;
        }
        
        .nav-link span {
            font-size: medium!important;
        }
        
        .nav-item i {
            font-size: larger!important;
        }
        
        * {
            font-family: 'Vazir', 'sans-serif';
        }
        
        .navbar-brand {
            color: #3259ca!important;
        }
        
        .update-submit,
        .update-cancel {
            display: none;
        }
        
        .dir-ltr {
            direction: ltr;
        }
        
        .dir-rtl {
            direction: rtl;
        }
    </style>

    {% endblock %}
    {% comment %} <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>  {% endcomment %}


</head>

<body id="page-top" style="direction: rtl; text-align:right">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>


                <div class="navbar-brand"><b>{{SITE_NAME}}</b></div>

                <!-- Nav Item - User Information -->
                <div class="nav-item dropdown no-arrow mr-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="ml-2 d-none d-lg-inline text-gray-600 small">{{ user.get_full_name |default:"Unknown"}}</span>
                        <img class="img-profile rounded-circle" src="{% static '/img/default_profile.png' %}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> {% trans "Profile" %}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> {% trans "Settings" %}
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> {% trans "Activity Log" %}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> {% trans "Logout" %}
                        </a>
                    </div>
                </div>



            </nav>

            <!-- Main Content -->
            <div id="content" class="row">

                <!-- sidebar menu -->
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion pr-0" id="accordionSidebar">


                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>{% trans "Dashboard" %}</span></a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Heading -->
                    <!-- <div class="sidebar-heading">
            Interface
          </div> -->

                    <!-- Nav Item - Pages Collapse Menu -->
                    <!-- <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
              </div>
            </div>
          </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'select_wordlist' %}">
                            <span>{% trans "Study" %}</span>
                            <i class="fab fa-leanpub"></i>
                        </a>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->


                    <!-- Nav Item - Pages Collapse Menu -->
                    <!-- <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-fw fa-folder"></i>
              <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
              </div>
            </div>
          </li> -->

                    <!-- Nav Item - Charts -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wordlists' %}">
                            <span>{% trans "Words List" %}</span>
                            <i class="fas fa-list-alt"></i>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reminders:list' %}">
                            <span>{% trans "Reminders" %}</span>
                            <i class="fas fa-robot"></i>
                        </a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">

                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>

                </ul>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="mt-4 col">

                    <!-- Page Heading -->
                    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div> -->
                    <div class="container-fluid">
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}} shadow">
                                {{message}}
                            </div>
                        {% endfor %}
                        {% block body %} {% endblock %}
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; emhashef 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans "Are you sure you want to logout?" %}</h5>
                    <button class="p-3 mr-auto close" type="button" data-dismiss="modal" aria-label="Close" style="margin-right:auto!important;margin-left:0 !important;">
            <span aria-hidden="true">×</span>
          </button>
                </div>
                <div class="modal-body text-right">{% trans "Click logout to exit" %}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <a class="btn btn-danger" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->

    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static '/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static '/js/sb-admin-2.min.js' %}"></script>

    <!-- Adding csrf token to ajax requests -->
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrf_token = getCookie('csrftoken');

        $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader('X-CSRFToken', csrf_token);
        });
    </script>
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>


    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-messaging.js"></script>
    <script>
      var firebaseConfig = {
            apiKey: "AIzaSyDLWnctTiRPPWj6aNJHhrlw0yzJibPBp_E",
            authDomain: "words-reminder-d0378.firebaseapp.com",
            databaseURL: "https://words-reminder-d0378.firebaseio.com",
            projectId: "words-reminder-d0378",
            storageBucket: "words-reminder-d0378.appspot.com",
            messagingSenderId: "1028753352796",
            appId: "1:1028753352796:web:befb2ef93a76c755b05e99",
            measurementId: "G-FFXH6JEWKR"
        };
        firebase.initializeApp(firebaseConfig);

        const messaging = firebase.messaging();
        messaging.onMessage(function(payload) {
            navigator.serviceWorker.getRegistration('/firebase-cloud-messaging-push-scope').then(registration => {
                registration.showNotification(
                    payload.notification.title,
                    payload.notification
                )
            });
        });
    </script>

    {% block js %} {% endblock %}

    <!-- Page level plugins -->
    <!-- <script src="/vendor/chart.js/Chart.min.js"></script> -->

    <!-- Page level custom scripts -->
    <!-- <script src="/js/demo/chart-area-demo.js"></script> -->
    <!-- <script src="/js/demo/chart-pie-demo.js"></script> -->

</body>

</html>