{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}

    <h1 class="h3 text-gray-800">دیکشنری ها</h1>
  {% for dictionary in dictionaries %}
    <div class="card mb-4">
      <div class="card-header">
        {{dictionary.label}}
      </div>
      <div class="card-body d-flex flex-column align-items-center">
        <!-- search box -->
        <form action="{% url 'search_dictionary' dictionary=dictionary.name %}" method="POST">
        {% csrf_token %}
        <div class="input-group w-auto dir-ltr">
          {% render_field dictionary.form.search class+="form-control bg-light border-0 small text-right" placeholder="جستجو" aria-label="Search" aria-describedby="basic-addon2" %}
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>

        <div class="text-left dir-ltr col-lg-9 col-xl-6 col-sm mt-3">
            div#
        </div>
      </div>
    </div>

{% endfor %}
{% endblock body %}

{% block js %}
<script>

</script>
{% endblock js %}
